<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ZPAR_common</key>
	<dict>
		<key>pagecode</key>
		<string>pageCtx</string>
		<key>actionid</key>
		<string>pageCtx</string>
	</dict>
	<key>expose</key>
	<dict>
		<key>selected</key>
		<dict>
			<key>alternative</key>
			<string>netCtx:extParamsDict.selected</string>
			<key>elements</key>
			<dict>
				<key>salary</key>
				<string>SF_2_100_11</string>
				<key>jobloc</key>
				<string></string>
				<key>edu</key>
				<string>SF_2_100_7</string>
				<key>reltime</key>
				<string>SF_2_100_5</string>
				<key>jobexp</key>
				<string>SF_2_100_6</string>
				<key>jobcate</key>
				<string>SF_2_100_10</string>
				<key>copcharacter</key>
				<string>SF_2_100_8</string>
				<key>copsize</key>
				<string>SF_2_100_9</string>
				<key>area</key>
				<string>SF_2_100_4</string>
				<key>indu</key>
				<string>SF_2_100_3</string>
			</dict>
			<key>type</key>
			<string>dict</string>
		</dict>
		<key>pageno</key>
		<string>netReq:pageIndex</string>
		<key>rparams</key>
		<string>netRes</string>
		<key>srchkey</key>
		<string>netReq:SF_2_100_1</string>
		<key>method</key>
		<string>netRes</string>
		<key>rsltnum</key>
		<string>netRes:Count</string>
		<key>pagelim</key>
		<string>netReq:pageSize</string>
		<key>jdlist</key>
		<dict>
			<key>pageSize</key>
			<string>pageSize</string>
			<key>page</key>
			<string>pageIndex</string>
			<key>key</key>
			<string>netRes:Positions</string>
			<key>type</key>
			<string>array</string>
			<key>elements</key>
			<dict>
				<key>pos</key>
				<string></string>
				<key>score</key>
				<string>score</string>
				<key>jdno</key>
				<string>Number</string>
			</dict>
		</dict>
	</dict>
	<key>jdvsl_expose</key>
	<dict>
		<key>pos</key>
		<string>pvd</string>
		<key>score</key>
		<string>pvd</string>
		<key>jdno</key>
		<string>pvd</string>
	</dict>
	<key>deliver</key>
	<dict>
		<key>pos</key>
		<string>netCtx:selectedPos</string>
		<key>jdno</key>
		<string>netReq:positionNumbers</string>
		<key>rsmno</key>
		<string>netReq:resumeNumber</string>
	</dict>
	<key>bdeliver</key>
	<dict>
		<key>rsmno</key>
		<string>netReq:resumeNumber</string>
		<key>jdlist</key>
		<string>netCtx</string>
	</dict>
	<key>pagein</key>
	<dict>
		<key>srccode</key>
		<string>pageCtx</string>
		<key>jdno</key>
		<string>pvd</string>
		<key>refdesc</key>
		<string>pageCtx</string>
	</dict>
	<key>pageout</key>
	<dict>
		<key>srccode</key>
		<string>pageCtx</string>
		<key>refdesc</key>
		<string>pageCtx</string>
		<key>timeonpage</key>
		<string>pageCtx</string>
		<key>jdno</key>
		<string>pvd</string>
		<key>ref</key>
		<string>pageCtx</string>
	</dict>
	<key>pageopen</key>
	<dict>
		<key>srccode</key>
		<string>pageCtx</string>
		<key>jdno</key>
		<string>netReq</string>
		<key>refdesc</key>
		<string>pageCtx</string>
	</dict>
	<key>pvtobottom</key>
	<dict>
		<key>srccode</key>
		<string>pageCtx</string>
		<key>jdno</key>
		<string>pvd</string>
		<key>refdesc</key>
		<string>pageCtx</string>
	</dict>
</dict>
</plist>
